<a href="https://colab.research.google.com/github/Muzamil-Aslam/basic-python-programming-practice-questions/blob/main/Python_Operators_and_Expressions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Operators and Expressions

This notebook covers all major types of operators in Python with definitions and executable examples.

## 1. Operators and Expressions
**Operators** are special symbols in Python that perform operations on variables and values.

**Expressions** are combinations of variables, operators, and values that produce a result.

## 2. Arithmetic Operators
Arithmetic operators perform mathematical calculations.

| Operator | Description | Example | Output |
|--------|--------------|---------|--------|
| + | Addition | 5 + 3 | 8 |
| - | Subtraction | 10 - 4 | 6 |
| * | Multiplication | 6 * 2 | 12 |
| / | Division | 7 / 2 | 3.5 |
| % | Modulus | 7 % 2 | 1 |
| // | Floor Division | 7 // 2 | 3 |
| ** | Exponentiation | 2 ** 3 | 8 |

In [1]:
a, b = 10, 3
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)
print(a // b)
print(a ** b)

13
7
30
3.3333333333333335
1
3
1000

## 3. Comparison Operators
Comparison operators compare values and return True or False.

In [2]:
x, y = 10, 20
print(x == y)
print(x != y)
print(x > y)
print(x < y)
print(x >= y)
print(x <= y)

False
True
False
True
False
True

## 4. Logical Operators
Logical operators are used to combine multiple conditions: and, or, not.

In [3]:
a, b = True, False
print(a and b)
print(a or b)
print(not a)

False
True
False

## 5. Bitwise Operators
Bitwise operators perform operations at the binary level.

In [4]:
x, y = 5, 3
print(x & y)
print(x | y)
print(x ^ y)
print(~x)
print(x << 1)
print(x >> 1)

1
7
6
-6
10
2

## 6. Assignment Operators
Assignment operators are used to assign and update values.

In [5]:
x = 10
x += 5
print(x)
x *= 2
print(x)

15
30

## 7. Identity Operators
`is` and `is not` check whether two variables point to the same object.

In [6]:
a = [1, 2, 3]
b = a
c = [1, 2, 3]
print(a is b)
print(a is c)
print(a == c)

True
False
True

## 8. Membership Operators
`in` and `not in` test whether a value exists in a sequence.

In [7]:
numbers = [1, 2, 3, 4]
print(2 in numbers)
print(5 not in numbers)

True
True

## 9. Operator Precedence
Order of execution (highest to lowest):

1. Parentheses ()
2. Exponentiation **
3. Unary +, -, ~
4. *, /, //, %
5. +, -
6. <<, >>
7. &
8. ^
9. |
10. Comparisons
11. not
12. and
13. or
14. Assignment

In [8]:
print(2 + 3 * 4)
print((2 + 3) * 4)

14
20